:root {
    /*setting colors*/
    --darkestColor: #13171F;
    --midColor: #1F2833;
    --lightColor: #B0C0D1;
    --ultraLightColor: #66FCF1;
    --highlight: #4CB0AB;
    --textColor: white;
}

/* old color schemes
blue with yellow
    --textColor: white;
    --darkestColor: #002025;
    --midColor: #106673;
    --lightColor: #8CB9BE;
    --ultraLightColor: #0C6976;
    --highlight: #D7B843;

black and gray

    --textColor: white;
    --darkestColor: #0D0D0D;
    --midColor: #262626;
    --lightColor: #737373;
    --ultraLightColor: #BFBFBF;
    --highlight: #F2F2F2;

blue

    --textColor: white;
    --darkestColor: #cccccc;
    --midColor: #012E40;
    --lightColor: #2F6073;
    --ultraLightColor: #6393A6;
    --highlight: #D8E8F2;

original
    --textColor: black;
    --darkestColor: #1a1a1a;
    --midColor: #363636;
    --lightColor: #011C26;
    --ultraLightColor: none;
    --highlight: none;

*/

html,
body {
    background-color: var(--lightColor);
    font-family: sans-serif;
    margin: 0 auto;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 26pt;
    padding: 2%;
    color: var(--darkestColor);

}

h2 {
    text-align: center;
    font-size: 20pt;
    margin: 2% 10% 2% 10%;
    color: var(--ultraLightColor);
}


h3 {
    text-align: left;
    font-size: 16pt;
    color: var(--highlight);
}

h4 {
    font-size: 14pt;
    text-align: center;
    color: var(--highlight);
}

h5 {
    color: var(--textColor);
}

p {
    font-size: 16pt;
    font-family: sans-serif;
    margin: auto 10% auto 10%;
    display: block;
    color: var(--textColor);
}

a {
    font-weight: bold;
    color: var(--ultraLightColor);
}

.pIgnoreMarginPadding {
    margin-left: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* navigation banner */
nav {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
}


.topNav {
    float: left;
    display: block;
    padding: 25px 16px;
    border: 1px solid;
    border-color: var(--darkestColor);
    color: var(--textColor);
    font-size: 16pt;
    font-weight: 1000;
    height: 23px;
    width: auto;
    text-align: center;
}

#activeTab {
    background-color: var(--darkestColor);
    box-shadow: 0 1px 2px 1px black;
    color: var(--highlight);
}


/* Banner */
.banner {
    background-color: var(--midColor);
    max-height: 500px;
    width: 100%;
    box-shadow: 2px 1px 2px 1px black;
}

.bannerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

#profilePic {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px 1px black;
    margin: 10px auto 30px auto;
}

#aboutMeText {
    padding-bottom: 5%;
}

/*containers to fix footer on pages with low content thanks to
https://matthewjamestaylor.com/bottom-footer  */
#container {
    min-height: 100%;
    position: relative;
}

#header {
    background-color: var(--midColor);
    height: 75px;
    width: 100%;
    margin-top: 0;
    border: 1px;
    box-shadow: 0 1px 2px 1px black;
}

#body {
    padding-bottom: 275px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: var(--midColor);
    margin-top: 200px;
    box-shadow: 2px 1px 2px 1px black;
}


/* aligning school and work history places and times */
.expPlaceAndTime {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.expNotes {
    font-style: italic;
}

.expBullets {
    margin: 10px 10% 10px 10%;
    font-size: 14pt;
    color: var(--textColor);
}

#relatedCourses {
    margin-left: 10%;
}

/*badges*/
.badgeContainer {
    margin: 25px 10% 0 10%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}

.badge {
    width: auto;
    height: 100%;
    max-width: 30%;
}

#msftDigitalLiteracy {
    width: 50%;
    min-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px 1px black;
}


/* Scratch Project */


.project {
    background-color: var(--darkestColor);
    border: solid black;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px black;
    margin: 25px 10% 25px 10%;
}

.projectDescription {
    padding-bottom: 2%;
}

.centerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 1px 2px 1px black;
}

#averageOutput {
    height: 5%;
}

#scratchProjectGame {
    display: block;
    width: 50%;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 0 1px 2px 1px black;
}

.projectTitle {
    text-align: center;
}

.projectLink {
    display: block;
    text-align: center;
    font-size: 18pt;
    padding: 5px;
}

#scratchSideBySide {
    display: flex;
    width: 50%;
    min-width: 480px;
    height: 500px;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.scratchTextBox {
    display: block;
    width: 50%;
    min-width: 240px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--textColor);
    box-shadow: 0 1px 2px 1px black;
}

.scratchTextBox p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.scratchTextBox h4 {
    color: var(--darkestColor);
}

#scratchAssetsTitle {
    text-align: center;
}

/*assets*/
.assetContainer {
    display: flex;
    width: 50%;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

.assetLeftRow {
    position: relative;
    width: 50%;
}

#audio {
    border: 1px solid black;
    box-shadow: 0 1px 2px 1px black;
}

.assetRightRow {
    text-align: center;
    margin: auto;
}

.rightRowText {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

#myCanvas {
    display: block;
    width: 100%;
}

#spaceManButtons {
    display: flex;
    justify-content: center;
}

.buttons {
    box-shadow: 0 1px 2px 1px black;
}

#svg {
    max-height: 60px;
    width: auto;
}



.colorizationImage {
    width: 50%;
    min-width: 480px;
    display: block;
    margin: 20px auto 20px auto;
    box-shadow: 0 1px 2px 1px black;
}



/* pdf stuff */
#fieldsReport {
    display: block;
    width: 50%;
    min-width: 480px;
    height: 480px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 0 1px 2px 1px black;
}

#pdfEmbed {
    padding: 15px;
}

#fullResume {
    text-align: center;
    padding-top: 25px;
}


/* Contact Info Stuff */
#contactTable {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contactFaviconSpace {
    width: 10%;
}

.contactFavicon {
    height: 25pt;
}

.contactInfo {
    font-size: 20pt;
    font-family: sans-serif;
    padding: 5px 10px 5px 10px;
    color: var(--textColor);
    font-weight: bold;
}

td a {
    color: var(--textColor);
}

.recName {
    padding-bottom: 0%;
    margin-bottom: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recRel {
    padding: 0px;
    margin-top: 0%;
    margin-bottom: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recLink {
    padding: 0px;
    margin-top: 0%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recText {
    padding: 0px;
    margin-top: 0%;
    margin-bottom: 2%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
